# Ansible credentials file
**/password.txt

# IntelliJ
.idea

# Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

# To prevent accidentally commiting config files which could contain sensitive
# info (like database passwords).
application-*.properties