# Ansible credentials file
**/password.txt

### Maven ###
target/

### IntelliJ IDEA ###
.idea
*.iml

# To prevent accidentally commiting config files which could contain sensitive
# info (like database passwords).
application-*.properties