<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--<link rel="icon" href="../../../../favicon.ico">-->

    <title>Starter Template for Bootstrap</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>

<body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
</div>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <div id="container" style="height: 400px"></div>
    <script th:inline="javascript">
        var data = [[${ratingsData}]];
    </script>
    <script th:inline="none">
        var convertedData = data.allSeasonRatings.map(seasonRatings => {
            return {
                name: "Season " + seasonRatings.season,
                type: "spline",
                data: seasonRatings.episodes,
            }
        });

        function convertToSeries(responseJSON) {
            responseJSON.allRatings = orderEpisodes(responseJSON.allRatings);

            return responseJSON.allRatings.map(seasonRatings => {
                return {
                    name: "Season " + seasonRatings.season,
                    type: "spline",
                    data: orderedData,
                }
            });
        }

        // let totalEpisodesInSeries = convertedData.reduce((acc, e) => {
        //     return acc + e.data.length
        // }, 0);

        function orderEpisodes(allSeasonRatings, season=1, firstEpisodeOfSeason=1) {
            if (allSeasonRatings.length === 0) {
                return [];
            }

            let unorderedSeason = allSeasonRatings[0];
            let orderedSeason = unorderedSeason.episodes.map((episode, i) => {
                return {x: firstEpisodeOfSeason + i, y: episode.imdbRating, episode: episode.episode};
            });

            let firstEpisodeOfNextSeason = firstEpisodeOfSeason + orderedSeason.length;
            let restOfSeasons = allSeasonRatings.slice(1);
            return [orderedSeason].concat(orderEpisodes(restOfSeasons, season+1, firstEpisodeOfNextSeason));
        }

        // for (var season = 0, i = 1; i <= totalEpisodesInSeries; season++) {
        //     let seasonRatings = convertedData[season];
        //     let seasonSize = seasonRatings.data.length;
        //
        //     for (var j = 0; j < seasonSize; j++) {
        //         let episodeRating = seasonRatings.data[j].imdbRating;
        //         seasonRatings.data[j] = {x: i, y: parseFloat(episodeRating), episode: j+1};
        //         i++;
        //     }
        // }

        Highcharts.chart('container', {
            title: {
                text: data.title
            },
            plotOptions: {
                spline: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },

            xAxis: {
                tickInterval: 1
            },

            yAxis: {
                title: {
                    text: 'IMDB Rating'
                },
                tickInterval: 1
            },

            tooltip: {
                shared: true,
                useHTML: true,
                headerFormat: '',
                pointFormat: '<tr><td style="color: {series.color}">{series.name} Episode {point.episode}: </td>' +
                    '<td style="text-align: right"><b>{point.y}</b></td></tr>',
                footerFormat: '',
                valueDecimals: 2
            },

            series: convertedData
        });
    </script>
</body>
</html>
