<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Display IMDB ratings of a show as a graph">

    <title>IMDB graph</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <link th:href="@{/css/ratings.css}" href="/static/css/ratings.css" rel="stylesheet">
</head>

<body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>

<div>
    <nav class="navbar navbar-static-top navbar-expand navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="showSearch">
            <form class="form-inline my-2 my-lg-0" action="/search">
                <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search show"
                       aria-label="Search" required>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>
<div id="graph" style="height: 400px"></div>
<script th:inline="javascript">
    let data = [[${ratingsData}]];
</script>
<script th:inline="none">
    load_graph("graph", data);

    function parse_ratings(ratings_json) {
        // Transform data into a format that Highcharts understands
        let ratings = Object.entries(ratings_json.allRatings);
        let series = ratings.map(([season_num, season_ratings]) => {
            let data = Object.entries(season_ratings).map(([episode_num, episode]) => {
                return {
                    numVotes: episode.numVotes,
                    y: parseFloat(episode.imdbRating),
                    episode: episode_num,
                    season: season_num,
                    title: episode.episodeTitle
                };
            });

            return {
                name: "Season " + season_num,
                type: "spline",
                data: data
            };
        });

        // Order episodes
        const totalEpisodesInSeries = ratings.reduce((total, [, episode_ratings]) => {
            return total + Object.keys(episode_ratings).length;
        }, 0);

        for (let ordinal = 1; ordinal <= totalEpisodesInSeries;) {
            series.forEach(season => {
                season.data.forEach(episode => {
                    episode.x = ordinal;
                    ordinal++;
                });
            });
        }

        return series;
    }

    function load_graph(html_id, data) {
        let highcharts_data = parse_ratings(data);

        function format_title(show) {
            let showRunTime = "";
            if (show.startYear != null) {
                let endDate = data.show.endYear;
                if (endDate == null) {
                    endDate = "Present";
                }
                showRunTime = `(${show.startYear} - ${endDate})`
            }

            let ratings = "";
            if (show.showRating != null) {
                ratings = `(rating: ${show.showRating}, votes: ${show.numVotes})`;
            }

            return `${show.title} ${showRunTime} ${ratings}`;
        }

        Highcharts.chart(html_id, {
            title: {
                text: format_title(data.show)
            },

            plotOptions: {
                spline: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },

            xAxis: {
                visible: false
            },

            yAxis: {
                title: {
                    text: 'IMDB Rating'
                },
                tickInterval: 1
            },

            tooltip: {
                shared: true,
                useHTML: true,
                headerFormat: '',
                pointFormat:
                    '<tr><td style="color: {series.color}">s{point.season}e{point.episode} ({point.title}): </td>' +
                    '<td style="text-align: right"><b>{point.y} ({point.numVotes} votes)</b></td></tr>',
                footerFormat: '',
                valueDecimals: 2
            },

            series: highcharts_data
        });
    }
</script>
</body>
</html>
